*{
    font-family: 'Lato', sans-serif;
font-family: 'Lugrasimo', cursive;
font-family: 'Manrope', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Work Sans', sans-serif;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
   margin: 0;
   padding-left: 30px;
   padding-right: 50px;
}
li{
    list-style: none;
}
.header-title{
    display: flex;
    gap: 10px;
    
}

.nav-title{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.logo{
    height: 80%;
    padding-top: 15px;
}
.red{
    color: rgb(234, 83, 133);
}
.nav-follow:hover{
    background: #dbdbdb;
    padding:1px  10px 1px 10px;
}
         /* banner */

.bannar-head{
    padding-top: 20px;
}
.bannar{
    padding: 30px 0px 50px 100px;
    display: flex;
    flex-direction: row;
    gap: 10px;
         
}

 .bannar-title{
    background:linear-gradient(#F948B2, #8758F1) ;
    font-size: 50px;
    text-transform: uppercase;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
 }        

.bannar-des{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.icon{
    padding-top: 20px;
}
.images{
    height: 500px;
    width: 700px;
}
.btn-primary{
    border-radius: 30px;
    background-color: #F948B2;
    color: white;
    padding: 10px 30px 10px 30px ;
}
.btn-second{
    background-color: #4EC5F7;
    border-radius: 30px;
    color: white;
    padding: 10px 30px 10px 30px ;
}
.button{
    display: flex;
    flex-direction: row;
    gap: 6px;
}
/* ----------------- */


.we-r-gamer{
    display: flex;
    flex-direction: row;
    gap: 10px;
   padding-top: 30px;
}
.gamer-title{
    background:linear-gradient(#F948B2, #8758F1) ;
    font-size: 30px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gamer-des{
    font-size: 10px;
    color: #534C64;
    padding-bottom: 10px;
    padding-top: 20px;
}
.gamer-purpose{
    color: #534C64;
}
.online-title{
    font-size: 30px;
}
/* --------------card */
.online-video{
        padding-left: 50px;
        text-align: center;
}


.play-instantly{
    justify-content: center;
}
.card{
    display: flex;
    flex-direction: row;
    gap: 50px;
    padding-top: 20px;
    padding-left: 30px;
    
}
.online-pic img{
    width: 230px;
    height: 280px;
}
.online-container{
    position: relative;
}
.content-text{
    position: absolute;
    top:0;
    left: 0;
    text-align: center;
    background: black;
    width:230px ;
    height: 280px;
    border-radius: 5px;
    opacity: .8;
    color: white;
    visibility: hidden;
}
.online-container:hover .content-text {
    visibility: visible;
}
.content-text .play{
    margin-top: 100px;
}
.play-instantly{
    display: flex;
    flex-direction: row;
    gap: 20px;
    text-align: right;
    padding-top: 30px;
}
.play-title{
    padding-top: 50px;
}
.play-pic{
    height:400px;
}
.play-img{
    position: relative;
    padding-left: 80px;
}
.play-image{
    position: absolute;
    margin-top: 250px;
    left: -5px;
    width: 40%;
    
}
/* -----------------logo */
.logos{
    padding-top: 80px;
    text-align: center;
}
.logo-body{
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding-top: 10px;
    

}
.logo-img{
    display: flex;
    flex-direction: row;
    gap: 5px;
    padding: 5px;
}

.logo-des{
    display: flex;
    flex-direction: row;
    gap: 40px;
    padding-top: 10px;
    justify-content: center;
}

/* ----------------- */
.footer{
    background-color: black;
    text-align: center;
    padding-bottom:50px ;
    margin-top: 20px;
}
.footer-title{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    padding-top: 20px;
}
.white{
    color: white;
}
.footer-img{
       margin: 10px;
}
.footer-body{
    display: flex;
    flex-direction: row;
    gap: 20px;
    color: rgb(193, 195, 196);
    justify-content: center;
  
}
.footer-des{
    color: #b1afaf;
}



@media  screen and (max-width:767px){
    nav{
        display: flex;
        flex-direction: column;
        
    }
    .bannar{
        
        flex-direction: column-reverse;
        
    }
    .images{
        width: 100%;
        padding-left: 0;
    }
    .we-r-gamer{
        flex-direction: column-reverse;
    }
    .gamer-body{
        text-align: center;
    }
    .card{
        flex-direction: column;
        padding-left: 0;
    }
    .play-instantly{
        flex-direction: column;
        text-align: center;
    }
    .play-img{
        width: 50%;
        padding: 0;
    }
    .play-image{
        visibility: hidden;
    }
    .logo-des{
        flex-direction: column;
    }
    .footer-body h5{
        font-size: 5px;
    }
    .footer-img{
        width: 10%;
    }
}